cffi==1.7.0
cryptography==1.4
EasyProcess==0.2.2
enum34==1.1.6
idna==2.1
inflection==0.3.1
ipaddress==1.0.16
kiteconnect==3.1.4
more-itertools==2.2
ndg-httpsclient==0.4.1
nose==1.3.7
numpy==1.11.1
pandas==0.18.1
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==16.0.0
python-dateutil==2.5.3
pytz==2016.4
PyVirtualDisplay==0.2
Quandl==3.0.1
requests==2.10.0
selenium==2.53.6
six==1.10.0
websocket-client==0.37.0
